:root{

}
body{
    font-family: "Montserrat", sans-serif;
    margin: 0%;
    background-color: #FAFAFA;
}


#linkss{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    padding-left:150px ;
}
#navs{
    display: flex;
    padding-left: 200px ;
    align-items: center;
}
#linkss a{
    text-decoration: none;
    padding-left: 50px;
    color: #737373; 
    font-weight: 500px;
}

#botones{
    display: flex;
    gap: 200px;
    margin-top: 5px;
}
#boton1{
    background-color: transparent;
    border-radius: 50px;
    color:  #F53855;
    ; 
    border-color: #F53855;
    ;
    height: 50px;
    width: 150px;
    font-weight: bold;
}
#di{
    position: absolute !important;
    width: 790px;
    height: 10px;
    top: 107px;
    left: 114px;
    gap: 1000px;
    opacity: 1000px;
    
    font-family: Rubik;
font-size: 50px;
font-weight: 500;
line-height: 70px;
text-align: left;


}
#di2{
    position: absolute !important;
    width: 555px;
height: 50px;
top: 326.77px;
left: 120px;
gap: 0px;
opacity: 0px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
#imagen1{
    position: absolute !important;
    width: 751.24px;
height: 450.44px;
top: 140px;
left: 884.76px;
gap: 220px;
font-size: 200px;
opacity: 0px;
z-index: -1;

}
#boton2{
    position: absolute;
    color: #FAFAFA;
    background-color:#F53855;
    width: 250px;
height: 60px;
top: 450.66px;
left: 120px;
font-weight: 100px;
border-radius: 15px;
box-shadow: 0px 35px 40px -15px rgba(245, 56, 56, 0.35);



}
#cont2{
    display: grid;
    ;
    grid-template-columns: 35% 35% 35%;
    column-gap: 10px;
    justify-content: center;
    justify-content: space-around;
    left:50px ;
    width: 100%;
    position: absolute;
    bottom: 220px;
  
    
}
.container2{
    margin: 0 50px;
}
#text2{
    
    width: 60px;
height: 55px;
;

bottom: 126px;
left: 250px;;


}
#jh{
    position: absolute;
    
    width: 608px;
height: 414px;
top: 855px;
left: 152.48px;
gap: 0px;
opacity: 0px;

}
#text3{
    position: absolute;
   
    width: 453.41px;
height: 140px;
top: 850px;
left: 1000.88px;
font-size: 25px;


}
#text6{
    font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
#jh2{
    position: absolute;
    width: 40px;
    height: 100px;
    top: 1100px;
    left: 1000px;
    
}
#t{
    position: absolute;
    width: 500px;
    height:100px ;
    top: -17px;
    left: 30px;
}
#t2{
    
    position: absolute;
    width: 500px;
    max-height: 100px;
    top: 10px;
    left: 30px;
}
#t3{
    position: absolute;
    width: 500px;
    max-height: 100px;
    top: 38px;
    left: 30px;
}
#t4{
    position: absolute;
    width: 500px;
    max-height: 100px;
    top: 68px;
    left: 30px;
}
#titulo2{

position: absolute;
height: 100px;
width: 500px;
left: 500px;
bottom: -600px;
font-size: 25px;
display: flex;
justify-content: center;
}
#subtitulo{
   
    position: absolute;
    font-family: Rubik;
    color: #4F5665;
    ;
    top : 70px;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: center;

}
#cajas{
    border: 2px solid rgba(221, 221, 221, 1);
    width: 330px;
height: 760px;
position: absolute;
top: 1745px;
left: 147px;
gap: 0px;
border-radius: 10px 0px 0px 0px;
border: 2px 0px 0px 0px;
opacity: 0px;

}
#cajas2{
    border: 2px solid rgba(221, 221, 221, 1);
    width: 330px;
height: 760px;
position: absolute;
top: 1745px;
left: 677px;
gap: 0px;
border-radius: 10px 0px 0px 0px;
border: 2px 0px 0px 0px;
opacity: 0px;


}
#cajas3{
    border: 2px solid rgba(221, 221, 221, 1);
    position: absolute;
    width: 330px;
height: 760px;
top: 1745px;
left: 1177px;
gap: 0px;
border-radius: 10px 0px 0px 0px;
border: 2px 0px 0px 0px;
opacity: 0px;


}
#regalo{
    position: absolute;
    
    width: 144.9px;
height: 165.37px;
top: 65.37px;
left: 94.45px;
gap: 0px;
opacity: 0px;

}
#titulos{
    font-family: Rubik;
font-size: 28px;
font-weight: 500;
line-height: 50px;
text-align: center;

}
#espe{
  
  position: relative;
    width: 180.17px;
height: 50px;
top: 350px;
left: 50.04px;
gap: 0px;
opacity: 0px;


}
#r{
    font-family: Rubik;
    
    position: absolute ;
    top: -20px;
    left: 40px;
font-size: 14px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
#r2{
    position: absolute;
    top: -28px;
    left: 40px;
    font-size: 14px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
#r3{
    font-family: Rubik;
    position: absolute;
top: -25px;
left: 40px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
#r4{
    font-family: Rubik;
    
position: absolute;
top: -25px;
left: 40px;
font-weight: 400;
line-height: 30px;
text-align: left;
}
#k{
    position: absolute;
    font-family: Rubik;
    height: 50px;
    width: 330px;
    top: 630px;
font-size: 25px;
font-weight: 500;
line-height: 30px;
text-align: center;

}
#boton3{
    position: absolute;
    color: #F53838;
    border-color: #F53838;
    width: 177.88px;
height: 45px;
top: 680px;
left: 75.94px;
gap: 0px;
border-radius: 50px 50px 50px 50px;
border: 2px 0px 0px 0px;
opacity: 0px;

}
#boton4{
    position: absolute;
    color: white;
    background-color: #F53855;
    border-color: #F53838;
    width: 177.88px;
height: 45px;
top: 680px;
left: 75.94px;
gap: 0px;
border-radius: 50px 50px 50px 50px;
border: 2px 0px 0px 0px;
opacity: 0px;
box-shadow: 0px 35px 40px -15px rgba(245, 56, 56, 0.35);
}